<nav>
    <div >
      <a  href="/">Navbar</a>
      <button
        type="button"
      >
        <span></span>
      </button>
      <div >
        <ul >
          <li >
            <a href="/" >Home</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'tasks_completed' %}"
              >complted tasks</a
            >
          </li>
          <li >
            <a href="{% url 'tasks' %}" >Tasks</a>
          </li>
          <li >
            <a href="{% url 'create_task' %}" >Create Task</a>
          </li>
          <li >
            <a  href="/logout">Logout</a>
          </li>
          {% else %}
          <li >
            <a href="/signin" >Login</a>
          </li>
          <li >
            <a href="/signup">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>